# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

In [1]:
# Exerc
x = list(range(1,10))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [2]:
# Exercise 
element = ("apple","banana","cherry")
print(element)

('apple', 'banana', 'cherry')


---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [4]:
# Exercise 3
numbers = [10, 20, 30, 40]
x = tuple(numbers)
print(x)

(10, 20, 30, 40)


---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [5]:
# Exercise 4
my_set = [1,2,3,4,5]
m = set(my_set)
print(m)

{1, 2, 3, 4, 5}


---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [7]:
# Exercise 5
student = {'name': 'Alice','age':20 ,'grade':'A'}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}


---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [8]:
# Exercise 6
num = [10, 20, 30, 40, 50]
m =num[1]
print(m)

20


---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [9]:
# Exercise 7
fruits = ["apple", "banana", "cherry", "orange"]
fruits [3]= "mango"
print(fruits)

['apple', 'banana', 'cherry', 'mango']


---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [14]:
# Exercise 8
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}


---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [16]:
# Exercise 9
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}


---

### Exercise 10:
Create a range object starting from 0 to 9.

In [22]:
# Exercise 10
my_range = range(10)
list(my_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [24]:
# Exercise 11
square_list = [x**2 for x in range(1,11)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [27]:
# Exercise 12
even_num = tuple(i for i in range(2,11)if i %2 ==0)
even_num

(2, 4, 6, 8, 10)


---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [28]:
# Exercise 13
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry


---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [31]:
# Exercise 14
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print(numbers)

{1, 2, 3, 4, 5}


---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [32]:
# Exercise 15
numbers = (10, 20, 30)
length = len(numbers)
print(length)

3


---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [34]:
# Exercise 16
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]


---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [35]:
# Exercise 17
def sum_list(input_list):
    return sum(input_list)

input_list = [1,2,3,4,5]
result = sum_list(input_list)
print(result)

15


---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [36]:
# Exercise 18
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = set(numbers)
print(unique)

{1, 2, 3, 4, 5}


---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [37]:
# Exercise 19
text = 'hello'
my_list =list(text)
print(my_list)

['h', 'e', 'l', 'l', 'o']


---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [50]:
def reverse_tuple(t):
    return t[::-1]

m= (1,2,3,4)
reverse_tuple= reverse_tuple(m)
print(reverse_tuple)

(4, 3, 2, 1)


---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [48]:
# Exercise 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
concat = dict1.copy()
concat.update(dict2)
print(concat)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [53]:
# Exercise 22
dict_num = {k:k**2 for k in range(1, 6)}
dict_num

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}


---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [55]:
# Exercise 23
my_dict = {"name": "Alice","age": 25,"country": "Rwanda"}
for key, value in my_dict.items():
    print(f"key: {key} , value: {value}")

key: name , value: Alice
key: age , value: 25
key: country , value: Rwanda


---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [56]:
# Exercise 24
letters = [chr(i) for i in range(97, 97 + 5)]
print(letters)

['a', 'b', 'c', 'd', 'e']


---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [59]:
# Exercise 25
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]
combined =list(zip(list1, list2))
print(combined)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [68]:
# Exercise 26
my_list =[10, 20, 30, 40, 50]
result = my_list.index(50)
result

4


---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [66]:
# Exercise 27
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']


---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [70]:
# Exercise 28
def find_largest(numbers):
    return max(numbers)

nums = [1, 32, 56, 21, 60]
largest = find_largest(nums)
print("The largest number is:", largest)

The largest number is: 60


---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [72]:
# Exercise 29
fruits = ["apple", "banana", "apple", "orange"]
my_count= fruits.count('apple')
print(my_count)

2


---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [74]:
# Exercise 30
person= {"name": "Alice", "age": 25, "city": "New York" }
result= person['city']
print("city:", result)

city: New York


---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [75]:
# Exercise 31
def remove_dup(input_list):
    return list(set(input_list))

my_list = [1, 2, 2, 3, 4, 4, 5]
m = remove_dup(my_list)
print(m)

[1, 2, 3, 4, 5]


---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [76]:
# Exercise 32
def list_inter(list1, list2):
    return list(set(list1) & set(list2))

a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
result = list_inter(a, b)
print("Intersection:", result)

Intersection: [3, 4]


---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [77]:
# Exercise 33
def square_generator():
    for i in range(1, 11):
        yield i ** 2
for square in square_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100


---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [79]:
# Exercise 34
def sum_dict_values(input_dict):
    return sum(input_dict.values())

# Example usage
my_dict = {"a": 10, "b": 20, "c": 50}
total = sum_dict_values(my_dict)
print("Sum of values:", total)

Sum of values: 80


---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [83]:
# Exercise
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)
print("Sorted list:", sorted_numbers)

Sorted list: [1, 1, 3, 4, 5, 9]


---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [85]:
# Exercise 36
def longest_string(string):
    return max(string, key=len)

word = ["apple", "banana", "cherry", "watermelon","Tuyizere Samuel"]
longest = longest_string(word)
print("longest string:" , longest)

longest string: Tuyizere Samuel


---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [87]:
# Exercise 37
my_list = [1, 2, 3, 4, 5]
result = all(n>0 for n in my_list)
print(result)

True


---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [88]:
# Exercise 38
square = [(x, x**2) for x in range(1,6)]
print(square)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [93]:
# Exercise 39
# Function to get second elements from each tuple
def second_elements(tuple_list):
    return [t[1] for t in tuple_list]
sample_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
result =second_elements(sample_tuples)

print(result)

['a', 'b', 'c']


---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [94]:
# Exercise 40
def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        for item in sublist:
            flat_list.append(item)
    return flat_list

nested = [[1, 2], [3, 4], [5, 6]]
result = flatten_list(nested)

# Printing the result
print(result)

[1, 2, 3, 4, 5, 6]


---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [95]:
# Exercise 41
x = ["apple", "banana", "cherry"]

for index, value in enumerate(x):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [96]:
# Exercise 42
my_tuple = ()
if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [97]:
# Exercise 43
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [102]:
# Exercise 44
def reverse_list(numbers):
    return numbers[::-1]
my_list = [10, 20, 30, 40, 50]
reversed_list = reverse_list(my_list)
print(reversed_list)

[50, 40, 30, 20, 10]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [103]:
# Exercise 45
cubes = {n: n**3 for n in range(1, 6)}

# Printing the result
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [104]:
# Exercise 46
my_list = [1, 2, 2, 3, 4, 4, 5]

# Creating a new list with unique elements
unique_list = list(set(my_list))

# Printing the result
print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [108]:
# Function to get values for a given key from a list of dictionaries
def get_values(dict_list, key):
    return [d[key] for d in dict_list if key in d]


my_dicts = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie"}
]

result = get_values(my_dicts, "age")

print(result)

[25, 30]


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [110]:
# Exercise 48
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b
for num in fibonacci(10):
    print(num, end=" ")

0 1 1 2 3 5 8 13 21 34


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [115]:
# Exercise 49
def unique_characters(s):
    seen = set()
    unique_chars = []
    for char in s:
        if char not in seen:
            seen.add(char)
            unique_chars.append(char)
    return unique_chars

# Example usage
input_string = "hello world"
result = unique_characters(input_string)

# Printing the result
print(result)

['h', 'e', 'l', 'o', ' ', 'w', 'r', 'd']


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [117]:
# Exercise 50
# Function to merge two sorted lists into a single sorted list
def merge_sorted_lists(list1, list2):
    merged = []
    i, j = 0, 0

    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1

    merged.extend(list1[i:])
    merged.extend(list2[j:])

    return merged


list_a = [1, 3, 5, 7]
list_b = [2, 4, 6, 8]
result = merge_sorted_lists(list_a, list_b)

print(result)

[1, 2, 3, 4, 5, 6, 7, 8]


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [118]:
# Exercise 51
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

# Printing the result
print(even_numbers)

[2, 4, 6]


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [120]:
# Exercise 52
tuple_list = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(tuple_list)
print(result_dict)

{1: 2, 3: 4, 5: 6}


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [128]:
# Exercise 53
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
result = symmetric_difference(a, b)

# Printing the result
print(result)

{1, 2, 5, 6}


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [129]:
# Exercise 54
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
list3 = [5, 6, 7, 8, 9]

common_elements = set(list1) & set(list2) & set(list3)
common_elements = list(common_elements)
print("Common elements:", common_elements)

Common elements: [5]


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [133]:
# Exercise 55
def factorial(n):
    if n == 0 or n == 1:
        return 1  
    else:
        return n * factorial(n - 1)  
number = 1
result = factorial(number)
print(f"Factorial of {number} is {result}")

Factorial of 1 is 1


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

In [138]:
# Exercise 56
fruits = ["apple", "", "banana", "", "cherry"]
filtered_fruits = [fruit for fruit in fruits if fruit != ""]
print(filtered_fruits)

['apple', 'banana', 'cherry']


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

In [140]:
# Exercise 57

def swap_dict(d):
    return {value: key for key, value in d.items()}
original_dict = {'a': 1, 'b': 2, 'c': 3}
swapped_dict = swap_dict(original_dict)
print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [142]:
# Exercise 58
def get_evennumbers(numbers):
    return [num for num in numbers if num % 2 == 0]

original_list = [1, 2, 3, 4, 5, 6, 7, 8]
even_numbers = get_evennumbers(original_list)
print(even_numbers)

[2, 4, 6, 8]


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [143]:
# Exercise 59
def get_first_elements(tuple_list):
    return [t[0] for t in tuple_list]
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = get_first_elements(tuples)

print(first_elements)

[1, 2, 3]


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [145]:
# Exercise 60
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result
original_list = [1, 2, 2, 3, 4, 3, 5, 1]
unique_list = remove_duplicates(original_list)

# Printing the result
print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [148]:
# Exercise 61
words = ["Samuel", "Delphine", "Migisha"]
lengths = list(map(len, words))
print(lengths)

[6, 8, 7]


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [151]:
# Exercise 62
def calculate_average(n):
    if not n:
        return 0  
    return sum(n) / len(n)
num_list = [80, 6, 30, 0, 50]
average = calculate_average(num_list)

print(f"Average: {average}")

Average: 33.2


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [152]:
# Exercise 63
def generate_fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    fib = [0, 1]
    for _ in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return fib
n = 10
fibonacci_list = generate_fibonacci(n)
print(f"First {n} Fibonacci numbers:", fibonacci_list)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

In [153]:
# Exercise 64
def count_elements(lst):
    counts = {}
    for item in lst:
        if item in counts:
            counts[item] += 1
        else:
            counts[item] = 1
    return counts

# Example usage
fruits = ["apple", "banana", "apple", "cherry"]
result = count_elements(fruits)

# Printing the result
print(result)

{'apple': 2, 'banana': 1, 'cherry': 1}


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [157]:
# Exercise 65
def remove_value(lst, value):
    return [item for item in lst if item != value]
original_list = [1, 2, 3, 2, 4, 2, 5]
value_to_remove = 2
filtered_list = remove_value(original_list, value_to_remove)
print(filtered_list)

[1, 3, 4, 5]


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [161]:
# Exercise 66
def strings_starting_with_vowel(lst):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    result = [s for s in lst if s and s[0].lower() in vowels]
    return result
    
words = ["elephant", "table", "igloo", "cup", "ostrich", "ant","eagle"]
vowel_words = strings_starting_with_vowel(words)
print(vowel_words)

['elephant', 'igloo', 'ostrich', 'ant', 'eagle']


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [162]:
# Exercise 67
def find_intersection(set1, set2):
    return set1 & set2 

set1 = {1, 6, 3, 4}
set2 = {3, 4, 5, 6}
intersection = find_intersection(set1, set2)
print(intersection)

{3, 4, 6}


---

### Exercise 68:
Write a Python function that flattens a nested list.

In [163]:
# Exercise 68
def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        for item in sublist:
            flat_list.append(item)
    return flat_list
nested = [[1, 2], [3, 4], [5, 6]]
flattened = flatten_list(nested)
print(flattened)

[1, 2, 3, 4, 5, 6]


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [166]:
# Exercise 69
def all_unique(lst):
    return len(lst) == len(set(lst))

example= [1, 2, 3, 4, 5]
print(all_unique(example1))

True


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [172]:
# Exercise 70
from functools import reduce
def multiply(x, y):
    return x * y
def multiply_list(lst):
    return reduce(multiply, lst)

m = [1, 2, 3, 4, 5]
result = multiply_list(m)

print(result)

120


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

In [176]:
# Exercise 71
def words_lengths(word_list):
    return {x: len(x) for x in word_list}
fruits = ["mango", "peach", "pineapple"]
lengths_dict = words_lengths(fruits)

print(lengths_dict)

{'mango': 5, 'peach': 5, 'pineapple': 9}


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [178]:
# Exercise 72
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    return count
sentence = "Hello, how many vowels are here?"
vowel_count = count_vowels(sentence)

print(vowel_count)

10


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

In [179]:
# Exercise 73
import math
factorial_list = [(num, math.factorial(num)) for num in range(1, 6)]
print(factorial_list)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [180]:
# Exercise 74
# Function to merge a list of dictionaries into one
def merge_dicts(dict_list):
    merged = {}
    for d in dict_list:
        merged.update(d)  # update merges the current dictionary into merged
    return merged

# Example usage
dicts = [{'a': 1, 'b': 2}, {'c': 3}, {'d': 4, 'a': 5}]
result = merge_dicts(dicts)

print(result)

{'a': 5, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [181]:
# Exercise 75
def is_subset(set1, set2):
    return set1.issubset(set2)

# Example usage
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

print(is_subset(A, B))  # True
print(is_subset(B, A))

True
False


---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [184]:
# Exercise 76

a = [(1, 3), (4, 1), (2, 5), (3, 2)]
def second_element(item):
    return item[1]

# Sort the list using the function as the key
sorted_data = sorted(a, key= second_element)

print(sorted_data)

[(4, 1), (3, 2), (1, 3), (2, 5)]


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [186]:
# Exercise 77
def filter_positive(numbers):
    return [num for num in numbers if num > 0]

nums = [-2, 3, 0, 5, -1, 7]
positive_nums = filter_positive(nums)

print(positive_nums)

[3, 5, 7]


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [188]:
# Exercise 78
def union_sets(set1, set2):
    return set1.union(set2)

A = {11, 12, 13}
B = {13, 14, 15}

result = union_sets(A, B)
print(result)

{11, 12, 13, 14, 15}


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [191]:
# Exercise 79
def product_list(n):
    product = 1
    for num in n:
        product *= num
    return product
nums = [2, 5, 4]
result = product_list(nums)
print(result)

40


---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [196]:
# Exercise 80
def list_to_string(char_list):
    return ''.join(char_list)

# Example usage
chars = ['H', 'e', 'l', 'l', 'o',' ','Depha']
result = list_to_string(chars)
print(result)

Hello Depha


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [197]:
# Exercise 81
def second_largest(numbers):
    unique_numbers = list(set(numbers))  # Remove duplicates
    if len(unique_numbers) < 2:
        return None  # No second largest if less than 2 unique numbers
    unique_numbers.sort(reverse=True)  # Sort descending
    return unique_numbers[1]

# Example usage
nums = [4, 2, 7, 1, 7, 8, 3]
result = second_largest(nums)
print(result)

7


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [198]:
# Exercise 82
def sorted_keys(d):
    return sorted(d.keys())
my_dict = {'avocado': 3, 'rice': 5, 'beans': 2}
result = sorted_keys(my_dict)
print(result)

['avocado', 'beans', 'rice']


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [199]:
# Exercise 83
from collections import Counter

def most_common_element(lst):
    if not lst:
        return None  # Return None if list is empty
    count = Counter(lst)
    most_common = count.most_common(1)[0][0]
    return most_common

# Example usage
items = ['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']
result = most_common_element(items)
print(result)

apple


---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [201]:
# Exercise 84
def sort_by_first_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

# Example usage
data = [(3, 'c'), (1, 'a'), (2, 'b')]
result = sort_by_first_element(data)
print(result)



def get_first_element(t):
    return t[0]

def sort_by_first_element(tuples_list):
    return sorted(tuples_list, key=get_first_element)

# Example usage
data = [(3, 'c'), (1, 'a'), (2, 'b')]
result = sort_by_first_element(data)
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [202]:
# Exercise 85
def remove_duplicates(dict_list):
    seen = set()
    unique_dicts = []
    for d in dict_list:
        # Convert dict items to a tuple of sorted key-value pairs to ensure consistent ordering
        items_tuple = tuple(sorted(d.items()))
        if items_tuple not in seen:
            seen.add(items_tuple)
            unique_dicts.append(d)
    return unique_dicts

# Example usage
dicts = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Alice', 'age': 25},  # duplicate
    {'name': 'Charlie', 'age': 20}
]

result = remove_duplicates(dicts)
print(result)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}, {'name': 'Charlie', 'age': 20}]


---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [203]:
# Exercise 86
def min_and_max(numbers):
    if not numbers:
        return None, None  # Handle empty list
    return min(numbers), max(numbers)

# Example usage
nums = [4, 7, 1, 9, 3]
minimum, maximum = min_and_max(nums)
print(f"Minimum: {minimum}, Maximum: {maximum}")

Minimum: 1, Maximum: 9


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [205]:
# Exercise 87
def create_tuples(list1, list2):
    return list(zip(list1, list2))

list_a = [10, 20, 30]
list_b = ['m', 'n', 'p']

result = create_tuples(list_a, list_b)
print(result)

[(10, 'm'), (20, 'n'), (30, 'p')]


---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [206]:
# Exercise 88
def reverse_strings(strings):
    return strings[::-1]

# Example usage
words = ["agape", "banana", "cherry"]
reversed_list = reverse_strings(words)
print(reversed_list)

['cherry', 'banana', 'agape']


---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [209]:
# Exercise 89
def sum_of_odds(numbers):
    return sum(num for num in numbers if num % 2 != 0)

# Example usage
nums = [1, 2, 3, 4, 5, 6]
result = sum_of_odds(nums)
print(result)

9


---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [210]:
# Exercise 90
def is_palindrome(s):
    # Normalize the string: ignore case and spaces
    cleaned = ''.join(char.lower() for char in s if char.isalnum())
    return cleaned == cleaned[::-1]

# Example usage
word1 = "Racecar"
word2 = "Hello"

print(is_palindrome(word1))  # True
print(is_palindrome(word2))  # False

True
False


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [211]:
# Exercise 91
def find_median(numbers):
    if not numbers:
        return None  # handle empty list
    sorted_nums = sorted(numbers)
    n = len(sorted_nums)
    mid = n // 2

    if n % 2 == 1:
        # Odd length: middle element
        return sorted_nums[mid]
    else:
        # Even length: average of two middle elements
        return (sorted_nums[mid - 1] + sorted_nums[mid]) / 2

# Example usage
nums1 = [3, 1, 4, 2, 5]
nums2 = [3, 1, 4, 2]

print(find_median(nums1))  # Output: 3
print(find_median(nums2))  # Output: 2.5

3
2.5


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [213]:
# Exercise 92def total_values(dict_list):
def total_values(dict_list):
    totals = {}
    for d in dict_list:
        for key, value in d.items():
            totals[key] = totals.get(key, 0) + value
    return totals

# Example usage
data = [
    {'apples': 10, 'oranges': 5},
    {'apples': 3, 'bananas': 7},
    {'oranges': 2, 'bananas': 4}
]

result = total_values(data)
print(result)

{'apples': 13, 'oranges': 7, 'bananas': 11}


---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [214]:
# Exercise 93
from collections import Counter

def calculate_mode(numbers):
    if not numbers:
        return None  # handle empty list
    count = Counter(numbers)
    max_freq = max(count.values())
    # Return all numbers that have the max frequency (mode can be multiple)
    modes = [num for num, freq in count.items() if freq == max_freq]
    if len(modes) == 1:
        return modes[0]
    return modes
nums = [1, 2, 2, 3, 3, 3, 4, 4, 4]
print(calculate_mode(nums))

[3, 4]


---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [215]:
# Exercise 94
def sum_of_squares(numbers):
    return sum(num ** 2 for num in numbers)
nums = [1, 2, 3, 4]
result = sum_of_squares(nums)
print(result)

30


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [216]:
# Exercise 95
def number_and_cube_list():
    return [(num, num ** 3) for num in range(1, 6)]

# Example usage
result = number_and_cube_list()
print(result)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [218]:
# Exercise 96
def primes_num(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for divisor in range(2, int(num**0.5) + 1):
            if num % divisor == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

# Example usage
print(primes_num(20))

[2, 3, 5, 7, 11, 13, 17, 19]


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [219]:
# Exercise 97
def common_keys(dict1, dict2):
    return list(set(dict1.keys()) & set(dict2.keys()))

# Example usage
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 20, 'c': 30, 'd': 40}

result = common_keys(d1, d2)
print(result)

['b', 'c']


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [222]:
# Exercise 98
def longest_string(strings):
    return [s for s in strings if len(s) > 5]

# Example usage
words = ["apple", "banana", "cherry", "date", "elderberry","mango", "pineapple"]
result = longest_string(words)
print(result)

['banana', 'cherry', 'elderberry', 'pineapple']


---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [224]:
# Exercise 99
def strings_tuples(strings):
    return [(s, len(s)) for s in strings]

# Example usage
words = ["apple", "banana", "cherry"]
result = strings_tuples(words)
print(result)

[('apple', 5), ('banana', 6), ('cherry', 6)]


---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [225]:
# Exercise 
def sum_dicts(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

# Example usage
dicts = [
    {'a': 2, 'b': 3},
    {'a': 5, 'c': 7},
    {'b': 1, 'c': 4}
]

print(sum_dicts(dicts))

{'a': 7, 'b': 4, 'c': 11}


---